
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: var(--color-grey-dark-1);

  &__title, &__subtitle {
    font-size: 7rem;
    font-weight: bold;
    line-height: 8rem;
    width: 75%;

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }
  }

  &__title {
    animation-name: moveInLeft;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
  }

  &__subtitle {
    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;

    animation-timing-function: ease-out;
  }

  &__links {
    animation: moveInBottom 0.5s ease-out 2s;
    animation-fill-mode: backwards;

    &__item {
      &:link,
      &:visited {
        text-decoration: none;
        color: #555;

        & > i {
          font-size: 4rem;
          margin: 3rem;
          transition: all 0.2s;
        }

        &:hover i {
          color: var(--color-primary);
        }
      }
    }
  }

  &__arrow {
    &:link,
    &:visited {
      text-decoration: none;
      color: black;
      animation-name: bounce;
      animation-duration: 0.7s;
      animation-delay: 3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;

      transition: all .3s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.line-bottom {
  width: 80%;
  height: 4px;
  background-color: var(--color-grey-dark-1);

  @media only screen and (max-width: $bp-medium) {
    width: 90%;
  }
}