.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 8px;
}

.portfolio__item {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-primary);
  transition: all ease-in-out .3s;
  cursor: pointer;

  border-radius: 3px;

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 4rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: 3.5px;
      text-transform: uppercase;
      padding: 2rem;
      color: #fff;
    }
  }
}